# Labels 
label-studio

# Deep Learning
torch
torchvision
ultralytics

# Data Processing
numpy
pandas
opencv-python
Pillow

# Visualization & Metrics
matplotlib
seaborn
scikit-learn
glob
Image

# other 
yaml

-e .